{% extends 'hours/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Add project
{% endblock title %}

{% block content %}
  <div class="card border-primary">
    <div class="card-header pt-4">
      <a href="{% url 'hours:home' %}" class="btn btn-secondary">Home</a>
    </div>

    <div class="card-body mb-2 pt-4">
      <form action="{% url 'hours:hours_worked' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button class="btn btn-success" type="submit">Add</button>
      </form>

    </div>
  </div>


{% endblock content %}
